@media (min-width: 900px) {
  nav button {
    display: none;
  }
  header section {
    top: 1%;
    left: 50%;
    width: 1vw;
    background: none;
  }
  header section ul {
    display: flex;
  }
  header section ul li a {
    font-weight: 500;
  }
}
@media (min-width: 1280px) {
  header section {
    top: 1%;
    left: 60%;
  }
}
@media (min-width: 1596px) {
  header section {
    top: 1%;
    left: 70%;
  }
}
