nav {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
nav img {
  width: 30px;
}
nav button {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}
nav button i {
  font-size: 30px;
  color: #fff;
}
